article > p::first-letter{
	font-size: 32px;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	margin-right: 1px;
	line-height: 1;
}


/*Formatando citações*/
blockquote > p{
	position: relative;
}

blockquote::before{
	position: absolute;
	content: '"';
	font-size: 10em;
	color: #BBB;
	line-height: 0.8;
}


.citacao-bio{
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.fiat{
	float: left;
}

.petrobras{
	float: right;
}

cite{
	float: right;
	font-style: italic;
}

/*Formatando resumo */
table{
	margin: 1em 0;
	border-collapse: separate;
	border-spacing: 0.25em;
}
td, th{
	background-color: #EEE;
	padding: 1em;
}
.cabecalho{
	background-color: #3C1D3D;
	font-weight: bold;
	color: #FFF;
}
.habilidades{
	background-color: #851944;
	font-weight: bold;
	color: #FFF;
}
.estudando{
	vertical-align: middle;
	text-align: center;
	font-style: italic;
}