/* Telas desktops */
@media (max-width:1199px) {
    .plano {
        border: 1px solid #95A4A5;
        width: 31%;
        text-align: center;
        float: left;
        margin: 0px 10px;
    }
}

/* Telas Ipads */
@media(min-width: 701px) and (max-width: 959px) {
    .introducao h1 {
        font-size: 4.5em;
        color: #FFF;
        text-shadow: 2px 0px rgb(204, 198, 198);
    }
    
    .plano {
        border: 1px solid #95A4A5;
        width: 30%;
        text-align: center;
        float: left;
        margin: auto 10px;
    }
}

/*Telas Celulares*/
@media(max-width: 700px){
    .introducao h1 {
        font-size: 3em;
        color: #FFF;
        text-shadow: 2px 0px rgb(204, 198, 198);
    }

    .introducao h2 {
        padding: 60px 0px;
        font-size: 1.3em;
        color: #FFF;
        margin: 0 10px;
    }

    .depoimento .descricao {
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 0px 10px;
    }

    .planos {
        padding: 0px 2px;
    }
    .plano {
        margin: 10px 0px;
        border: 1px solid #95A4A5;
        width: 100%;
        text-align: center;
        float: left;
    }

    .container {
        max-width: 100%;
        margin: 0px auto;
    }

    .container, .introducao, .depoimentos, .planos, footer {
        max-width: 100%;
    }
}